<html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mugshot-Story</title>
</head>
    <body>
        <%- include('partials/header.ejs') %>

        <br><br>
        <h2 class="card-title bg-1-title">The Fortune 500 CEOs with the Best (and Worst) Headshots</h2>
        <img class="card-img-top bg-img img00" src="/imgs/big-story/worst-mugshot-article.png" alt="worst mugshot">

        <p>The value of a good photo is immeasurable. A good dating photo can help you find love, a spectacular real estate photo can help you sell your house, and a great professional headshot may help find your dream job.</p>
        <p>Snappr provides on-demand photography services, from portraits for families to national campaigns for large brands. Headshots are a specialty. Snappr has undertaken tens of thousands of portrait shoots, capturing hundreds of thousands of individuals. Many of these have been corporate headshots for business executives.</p>
        <p>Snappr is also the maker of the Photo Analyzer – a tool that uses AI to instantly rate the quality of a headshot – which has been used more than a million times. Using the Photo Analyzer, we conducted a study of which leading CEOs have the best and worst corporate headshots, as well as which are the most likely to smile (or not). For each of the 2020 Fortune 500 companies, we ran the CEO’s headshot through the Photo Analyzer tool to rate their quality, including their smile.</p>
        <p>We found that the Fortune 500 CEO with the best corporate headshot was Stephen Boyle of TD Ameritrade and the one with the worst quality photo was Robert thomson of News Corp. The CEO with the best smile is a tie between Mark Zuckerberg of Facebook and Bryan DeBoer of Lithia Motors.</p>
        <p>Additionally, we found that male and female Fortune 500 CEOs had very similar headshot quality, but female CEOs had better smiles according to the Photo Analyzer algorithm. Ironically, entertainment CEOs had the lowest quality photos and the worst smiles.</p>
        <p>A relationship was also found between CEO smiles and company performance.</p>
        <p>Before diving into the results, it is worth spending a moment on the methodology. For this study, we downloaded the best available corporate headshot from an official source (starting with LinkedIn) for each of the companies in the most recent Fortune 500 list. Those headshots were then fed into the Snappr Photo Analyzer and analyzed on eleven quality attributes. One of those attributes is smile score, which in turn is based on two things – the curvature of the lips (more is better), and how open the mouth is (showing teeth is good, but an open mouth or laughing smile is bad).  Based on the results across the eleven dimensions, an overall score was generated from 0 (poor quality) to 100 (highest quality). 37 of the CEOs analyzed were female and 467 were male (which adds to 504 due to a number of co-CEOs).</p>
        <p>To start, let’s look at the CEOs with the best (and worst) rated photos in the Fortune 500.</p>
        <img class="card-img-top bg-img" src="/imgs/big-story/worst-mugshot-2.png" alt="best mugshot">
        <p>Stephen Boyle of TD Ameritrade has the top Fortune 500 CEO headshot, narrowly beating out Antonio Neri of Hewlett Packard Enterprises. Robert Thomson, CEO of News Corp has the lowest rated headshot, followed by Lachlan Murdoch of Fox.</p>
        <p>What’s the difference between a great corporate headshot and a dismal one? Below is the best ranked photo (CEO of Ameritrade) versus worst (CEO of News Corp).</p>
        <img class="card-img-top bg-img" src="/imgs/big-story/worst-mugshot-3.png" alt="best mugshot">
        <p>The winning photo is well-cropped to the face, shows the right amount of smile, has lighting that accentuates the jawline, has a bright but non-distracting background with a splash of color, and has a natural color balance. On the other hand, the worst photo is cropped awkwardly to the CEO’s belly button, shows no hint of a smile, lacks definition around the jawline, and worst of all is in black and white.</p>
        <p>You might be wondering who wins out among the titans of ‘big tech’. Sundar Pichai from Alphabet (Google) takes the cake with a score of 85. Jeff Bezos of Amazon will be disappointed to know he is bottom of the ‘big six’, being narrowly beaten out by his arch-rival Elon Musk.</p>
        <img class="card-img-top bg-img" src="/imgs/big-story/worst-mugshot-4.png" alt="best mugshot">
        <p>Now let’s look at the smile scores of the Fortune 500 CEOs.</p>
        <img class="card-img-top bg-img" src="/imgs/big-story/worst-mugshot-5.png" alt="best mugshot">
        <p>In this study, we learned that corporate headshots vary considerably in quality across the Fortune 500. Some headshots are inexplicably bad for ‘captains of industry’ while others are picture perfect! 53% of the Fortune 500 companies have used Snappr’s product. For any CEO of a Fortune 500 company, please consider this an open invitation to use Snappr’s services to get a better headshot.</p>


        <%- include('partials/footer.ejs') %>
    </body>
</html>

