<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crypto-story</title>
</head>
<body>
    <%- include('partials/header.ejs') %>

    <div class="container">
        <br>
        <br>
        <h2 class = 'card-title bg-1-title' >How Much Did Cryptocurrency Mining Inflate GPU Prices?</h2>
        <br>

        <div>
            <div class="column01-crypto">
                <p>I started mining Bitcoin (BTC) in 2013 using a set of dual ATI Radeon HD 5870 graphics cards (GPUs) stuffed in an old desktop chassis and hidden away in my basement. The rig was loud. It used a ton of power and the fans struggled to keep up with GPU cooling needs. I removed the side panel of the case and pointed a box fan at the rig to ease the inferno.</p>
                <p>In 2013, I earned $4/day in BTC and spent $2/day on electricity. Not bad for passive income, but mining BTC was far from passive. The rig needed more attention than my 2-year-old daughter. </p>
                <p>Crashes were near-constant. A mild brownout, internet hiccup, or sideways glance would freeze things up and require a reboot. After just a couple of months, I parted out the mining rig and sold the GPUs for a nice profit. Radeon HD 5870s were going for above-market prices because BTC had risen to $250 making mining more profitable and GPUs harder to find.</p>
                <p>Even in 2013, the GPU supply chain had trouble keeping up with spiking demand from cryptocurrency mining.</p>
            </div>
            <div class="column02-crypto">
                <img class="card-img-top bg-img img00" src="/imgs/crypto/crypto-02.jpg" alt="An image of a PC">
            </div>
        </div>
        <div class="column03-crypto">
            <br>
            <h3 class = 'card-title bg-1-title' >ASICs Disrupt the Market</h3>
            <br>

            <p>Late in 2013, mining saw a massive disruption with the appearance of chips that were custom-built to do only one thing, mine BTC. Unlike CPUs or GPUs, ASICs were only designed to mine cryptocurrencies. ASICs were vastly superior to GPUs in that they used less power and produced exponentially higher hash rates, which determined mining speed and profitability.</p>
            <p>I used the profit from my GPU sale to drop $200 on a Butterfly Labs Jalapeño ASIC miner. Then I waited. And waited…and waited some more.</p>
            <p>If I had received the ASIC when I placed the order, hash rates dictated I would have earned 10+ BTC per day. However, ASIC manufacturers were new to the business. They didn’t have a solid understanding of freight management, ship times, or distribution. Today’s distributors use enterprise resource planning (ERP) software to manage the complex dance of getting an item manufactured in China to my house in Atlanta. But Butterfly Labs had no such software.</p>

            <img class="card-img-top bg-img" src="/imgs/crypto/crypto-03.png" alt="images of a PC">

            <p>I eventually received my Jalapeño miner in late 2013. I was bummed to see that mining competition had spiked with the introduction of ASICs. My little Jalapeño could only eke out 0.02 BTC/day. I removed the cover and used my box fan trick and a slight overclock to snag a couple of extra percentage points. But competition kept climbing. In less than a month, I was earning less than 0.002 BTC/day — $2 at the time.</p>
            <p>I turned off the Jalapeño and left it to collect dust in the basement. Unlike GPUs, ASICs had little value after their mining lifespan. They couldn’t be used for much else.</p>
        </div>
        <div>
            <br>
            <h3 class = 'card-title bg-1-title' >Ethereum Is Introduced</h3>
            <br>
            <div class="column01-crypto">
                <p>I gave up on mining until I heard about a new cryptocurrency, called Ethereum (ETH), from my Facebook crypto group. Unlike BTC, Ethereum used a hashing algorithm known as SHA3, which was supposed to be ASIC-proof. Mining with GPUs made sense again.</p>
                <p>I set up a new rig with dual Radeon RX 470 GPUs. But I was frustrated with how much I had to pay. The 470 was a mid-range GPU and was already somewhat outdated in 2018. The GPU demand cycle had begun again and I was behind the curve. </p>
                <p>Nevertheless, I set up my RX 470 GPUs with a base model Dell and started mining. The Dell didn’t have space for two GPUs so I used a PCIe extender that enabled me to have enough space for both cards. However, this setup meant one of the RX 470s was hanging precariously out of the case.</p>
            </div>
            <div>
                <img class="card-img-top bg-img crypto-04 img00" src="/imgs/crypto/crypto-04.png" alt="A GPU hanging outside of a PC case">
            </div>
        </div>
        <div>
            <br>
            <br>
            <h3 class = 'card-title bg-1-title' >Profitability Declines Again</h3>
            <br>
            <p>The decline in Ethereum profitability has been slower. ASICs have never quite taken over the GPU market. But a 2019 “crypto winter” saw profits shrink with the value of ETH. I no longer had a basement to spare, so my mining rig lived in the corner of my bedroom. My wife was not happy with this arrangement. I soon parted with my Dell and sold the GPUs, but this time for a loss.</p>
        </div>
        <div>
            <br>
            <h3 class = 'card-title bg-1-title' >The Cycle Continues</h3>
            <br>
            <p>In late 2021, crypto winter was breaking. Prices of BTC and ETH returned to all-time highs and kept climbing. Global adoption of cryptocurrencies had grown. But a chip shortage, fueled by the pandemic, meant the supply of GPUs did not grow with mining demand. Prices on second-hand markets like eBay exploded since no one could find a new GPU in stores. According to a report from JPR, crypto miners bought 25% of all GPUs produced in the first half of 2021.</p>
            <p>Tom’s Hardware scrapped eBay to highlight how crypto-induced demand and pandemic-reduced supply combined for a perfect storm of GPU prices.</p>

            <img class="card-img-top bg-img crypto-04" src="/imgs/crypto/crypto-05.png" alt="A GPU hanging outside of a PC case">

            <p>There was a clear increase in auction prices in February 2021. Limited supply meant fewer GPUs were being sold, and the ones that did hit the market were going 3X over retail. After all, why would someone sell their RTX 3090 when they could use it to mine themselves and make a hefty return?</p>
        </div>
        <div>
            <br>
            <br>
            <h3 class = 'card-title bg-1-title' >A Year Before Prices Begin to Stabilize</h3>
            <br>
            <p>After a rough year for GPU purchasers, we are beginning to see light at the end of the tunnel. Crypto prices are off from their all-time highs. And Nvidia and AMD are finally beginning to ship more GPUs. It is still near impossible to find them in stores, but GPU prices on eBay are falling.</p>

            <img class="card-img-top bg-img crypto-04" src="/imgs/crypto/crypto-06.png" alt="A GPU hanging outside of a PC case">
        </div>
        <div>
            <br>
            <br>
            <h3 class = 'card-title bg-1-title' >Will Proof-of-Stake Break the Cycle?</h3>
            <br>
            <p>Along with increasing supply, and slowing mining demand, there is a dark horse affecting GPU prices today: proof-of-stake. BTC, ETH, and most other cryptocurrencies have historically relied on a proof-of-work model for maintaining blockchain decentralization and security. Essentially, rewards are distributed to miners based on how much hash rate, or processing work, they contribute.</p>
            <p>Proof-of-stake upends this traditional model and distributes rewards to someone who “stakes” existing ETH. So, on average, you earn more by staking more ETH, and not by contributing more work in the form of algorithmic hashes.</p>
            <p>We don’t know exactly when the ETH blockchain will fully transition to proof-of-stake. But the general consensus is the end of 2022. At that time, hundreds of thousands of miners will no longer be able to mine ETH with their GPUs. Some may switch to other cryptocurrencies, but many will offload their GPUs on reseller markets. I predict we see drastically reduced GPU prices.</p>
            <p>Some miners may choose to get out ahead of this transition and sell their GPUs before the market is disrupted. So we will likely see continued declines throughout 2022.</p>
            <p>But, who knows? Another cryptocurrency using proof-of-work may explode on the market and begin the cycle all over again. I know my old Dell case is ready to get back in the game.</p>
        </div>
    </div>
    
    

    <%- include('partials/footer.ejs') %>
</body>
</html>