<html>
    <body>

      <%- include('partials/header.ejs') %>
        <img class="cover-photo" src="/imgs/theme/cover-photo.jpg" alt="cover photo">

        <div class="container">

          <h1 class="my-4">Welcome to IT Humour</h1>

            <div class="row">
                <div class="col-md-12">
                    <div class="card mb-4 col-md-12 big-story">

                        <img class="card-img-top" src="/imgs/big-story/worst-mugshot-article.png" alt="worst mugshot" width="100%" height="500">
                        <div class="card-body">
                            <h2 class="card-title">The Fortune 500 CEOs with the Best (and Worst) Headshots</h2>

                            <a href="/big-story" class="icon-link gap-1 icon-link-hover stretched-link" target="_blank">
                                Continue reading
                              </a>
                        </div>

                    </div>
                </div>
                <div class="recents">
                  <div class="col-md-12">
                    <div class="trending">
                      <!-- Trendings 01 -->
                      <h2 class='card-title bg-1-title mb-4'>Trending Blogs</h2>
                      <div class="col-md-12">
                        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                          <div class="iphone-news">
                            <div class="col-md-12 p-4 d-flex flex-column position-static">
                            <h3 class="mb-0">5G Is 200X Faster and Will Unlock Everything. Here’s Who’s Ready</h3>
                            <div class="d-flex align-items-center">
                              <p class="card-text mb-auto me-3">Just like 4G brought us Uber and the appification-of-everything, 5G will rewrite concepts of speed.</p>
                            </div>
                            <a href="/crypto-story" class="icon-link gap-1 icon-link-hover stretched-link" target="_blank"></a>
                            </div>
                          </div>
                          </div>
                      </div>
                      <!-- Trendings 02 -->
                      <div class="col-md-12">
                        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                          <div class="iphone-news">
                            <div class="col-md-12 p-4 d-flex flex-column position-static">
                            <h3 class="mb-0">The Most Wanted Cars in America</h3>
                            <div class="d-flex align-items-center">
                              <p class="card-text mb-auto me-3">What's the most desired car in America?</p>
                            </div>
                            <a href="/crypto-story" class="icon-link gap-1 icon-link-hover stretched-link" target="_blank"></a>
                            </div>
                          </div>
                          </div>
                      </div>
                       <!-- Trendings 03 -->
                    <div class="col-md-12">
                      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="iphone-news">
                          <div class="col-md-12 p-4 d-flex flex-column position-static">
                          <h3 class="mb-0">What Kind of Online Fraud is Growing the Fastest?</h3>
                          <div class="d-flex align-items-center">
                            <p class="card-text mb-auto me-3">You’d never blindly send money to a stranger who emailed you asking for it, would you?</p>
                          </div>
                          <a href="/crypto-story" class="icon-link gap-1 icon-link-hover stretched-link" target="_blank"></a>
                          </div>
                        </div>
                        </div>
                    </div>
                    <!-- Trendings 04 -->
                    <div class="col-md-12">
                      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="iphone-news">
                          <div class="col-md-12 p-4 d-flex flex-column position-static">
                          <h3 class="mb-0">What Kind of Online Fraud is Growing the Fastest?</h3>
                          <div class="d-flex align-items-center">
                            <p class="card-text mb-auto me-3">You’d never blindly send money to a stranger who emailed you asking for it, would you?</p>
                          </div>
                          <a href="/crypto-story" class="icon-link gap-1 icon-link-hover stretched-link" target="_blank"></a>
                          </div>
                        </div>
                        </div>
                    </div>
                    <!-- Trendings 05 -->
                    <div class="col-md-12">
                      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="iphone-news">
                          <div class="col-md-12 p-4 d-flex flex-column position-static">
                          <h3 class="mb-0">How Much Money Do Private Equity Firms Generate?</h3>
                          <div class="d-flex align-items-center">
                            <p class="card-text mb-auto me-3">According to McKinsey, $233 billion was invested in private equity in 2017.</p>
                          </div>
                          <a href="/crypto-story" class="icon-link gap-1 icon-link-hover stretched-link" target="_blank"></a>
                          </div>
                        </div>
                        </div>
                    </div>
                    <!-- Trendings 07 -->
                    <div class="col-md-12">
                      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="iphone-news">
                          <div class="col-md-12 p-4 d-flex flex-column position-static">
                          <h3 class="mb-0">Buy American Cars (or Not)</h3>
                          <div class="d-flex align-items-center">
                            <p class="card-text mb-auto me-3">There are lots stereotypes about regions in America. People in the South are gun-toting individualists. People in San Francisco are</p>
                          </div>
                          <a href="/crypto-story" class="icon-link gap-1 icon-link-hover stretched-link" target="_blank"></a>
                          </div>
                        </div>
                        </div>
                    </div>
                    </div>
                    <h2 class='card-title bg-1-title mb-4'>Recent Blogs</h2>
                    <div class="row">
                    <!-- Recent blogs 01 -->
                    <div class="col-md-12">
                      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                      <div class="iphone-news">
                        <div class="col-md-12 p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary-emphasis">Tech</strong>
                        <h3 class="mb-0">Your New iPhone Is Late</h3>
                        <div class="mb-1 text-body-secondary">March 12</div>
                        <div class="d-flex align-items-center">
                          <p class="card-text mb-auto me-3">Did you order your new iPhone already? If it hasn’t yet arrived, you may be in for a long wait.</p>
                          <img class="bd-placeholder-img img-fluid iphone-img" width="200" height="250" src="/imgs/iphone/iphone.png" alt="iPhone image"/>
                        </div>
                        <a href="/iphone-story" class="icon-link gap-1 icon-link-hover stretched-link" target="_blank"></a>
                          Continue reading
                        </a>
                        </div>
                      </div>
                      </div>
                    </div>
                    <!-- Recent blogs 02 -->
                    <div class="col-md-12">
                      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                      <div class="iphone-news">
                        <div class="col-md-12 p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary-emphasis">Crypto</strong>
                        <h3 class="mb-0">How Much Did Cryptocurrency Mining Inflate GPU Prices?</h3>
                        <div class="mb-1 text-body-secondary">March 02</div>
                        <div class="d-flex align-items-center">
                          <p class="card-text mb-auto me-3">In 2018 I set up a mining rig with dual Radeon RX 470 GPUs. I was frustrated with how much they cost. The 470 was expensive and outdated.</p>
                          <img class="bd-placeholder-img img-fluid iphone-img" width="200" height="250" src="/imgs/crypto/crypto.png" alt="Cryptocurrency mining image"/>
                        </div>
                        <a href="/crypto-story" class="icon-link gap-1 icon-link-hover stretched-link" target="_blank"></a>
                          Continue reading
                        </a>
                        </div>
                      </div>
                      </div>
                    </div>
                     <!-- Recent blogs 03 -->
                     <div class="col-md-12">
                      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                      <div class="iphone-news">
                        <div class="col-md-12 p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary-emphasis">Nature</strong>
                        <h3 class="mb-0">People Left Cities for Rural Zoom Towns. How Does That Impact Wildfire Risk?</h3>
                        <div class="mb-1 text-body-secondary">February 22</div>
                        <div class="d-flex align-items-center">
                          <p class="card-text mb-auto me-3">Zoom towns with high wildfire risk are also seeing the fastest growth in home prices, and therefore the fastest increase in wildfire exposure</p>
                          <img class="bd-placeholder-img img-fluid wildlife-img" width="200" height="250" src="/imgs/wildlife/wildlife.png" alt="Wildlife image"/>
                        </div>
                        <a href="/wildlife-story" class="icon-link gap-1 icon-link-hover stretched-link" target="_blank"></a>
                          Continue reading
                        </a>
                        </div>
                      </div>
                      </div>
                    </div>
                    <!-- Recent blogs 04 -->
                    <div class="col-md-12">
                      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                      <div class="iphone-news">
                        <div class="col-md-12 p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary-emphasis">Economics</strong>
                        <h3 class="mb-0">The Companies Where Employees Most Often Get Payday Loans</h3>
                        <div class="mb-1 text-body-secondary">February 17</div>
                        <div class="d-flex align-items-center">
                          <p class="card-text mb-auto me-3">The vast majority of people who get payday loans are employed. Here's where they work.</p>
                          <img class="bd-placeholder-img img-fluid wildlife-img" width="200" height="250" src="/imgs/loans/loans.png" alt="carts image"/>
                        </div>
                        <a href="/loan-story" class="icon-link gap-1 icon-link-hover stretched-link" target="_blank"></a>
                          Continue reading
                        </a>
                        </div>
                      </div>
                      </div>
                    </div>
                </div>
                </div>
                </div>
                </div>
                </div>
            </div>
        </div>
        <%- include('partials/footer.ejs') %>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </body>
</html>