<html>
    <body>
        <img class="cover-photo" src="/imgs/theme/cover-photo.jpg" alt="cover photo">

        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h1 class="my-4">Welcome to IT Humour</h1>

                    <div class="card mb-4 big-story">

                        <img class="card-img-top" src="/imgs/big-story/worst-mugshot-article.png" alt="worst mugshot">
                        <div class="card-body">
                            <h2 class="card-title">The Fortune 500 CEOs with the Best (and Worst) Headshots</h2>

                            <a href="/big-story.ejs" class="icon-link gap-1 icon-link-hover stretched-link">
                                Continue reading
                              </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                      <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary-emphasis">Tech</strong>
                        <h3 class="mb-0">Your New iPhone Is Late</h3>
                        <div class="mb-1 text-body-secondary">March 12</div>
                        <p class="card-text mb-auto">Did you order your new iPhone already? If it hasn’t yet arrived, you may be in for a long wait.</p>
                        <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
                          Continue reading
                          <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
                        </a>
                      </div>
                      <div class="col-auto d-none d-lg-block">
                        <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                      </div>
                    </div>
                  </div>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </body>
</html>