<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iphone-Story</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <%- include('partials/header.ejs') %>

    <br>
    <br>
    <h2 class = 'card-title bg-1-title' >Your New iPhone Is Late</h2>
    <br>
    <p>Did you order your new iPhone already? If it hasn’t yet arrived, you may be in for a long wait. On Sunday, March 13th, two major Chinese port cities, Shenzhen and Shanghai, entered a seven-day lockdown after cases of COVID-19 spiked. While the Port of Shenzhen, which processes just under one quarter of all US exports, remains open, there are a reported 65 ships waiting to dock along the coast.</p>
    <p>Among the exporters of Shenzhen is Foxconn, the world’s largest contract manufacturer of electronics. Most notably, Foxconn is responsible for manufacturing nearly half of the world’s iPhones.</p>
    <p>While only God can make a tree, Tim Cook came close by orchestrating the iPhone supply chain. All the components that create your iPhone — memory chip, battery, camera, processor, touchscreen controller, and on and on — are sourced globally and sent to Foxconn in (ideally) perfect time. Workers at Foxconn assemble, test, and package the iPhone at the rate of 350 per minute, but one missing component can halt production altogether. </p>
    <p>Thus, the port slowdowns of this week affect both sides of the manufacturing equations: components are slow to be received, and finished goods are slow to be shipped out. </p>
    <p>Here’s the international journey your iPhone travels before it makes its way to you:</p>

    <figure>
        <img class="card-img-top bg-img" src="/imgs/iphone/iphone-2.jpg" alt="An image of an iPhone">
        <figcaption>The international journey of your iPhone.</figcaption>
    </figure>

    <%- include('partials/footer.ejs') %>
</body>
</html>