<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loan-story</title>
</head>
<body>
    <%- include('partials/header.ejs') %>

    <br>
    <br>
    <h2 class = 'card-title bg-1-title' >How Much Did Cryptocurrency Mining Inflate GPU Prices?</h2>
    <br>

    <img class="card-img-top bg-img" src="/imgs/loans/loans.png" alt="An image of carts">

    <br>
    <br>
    <p>Payday loans are used by people who need money fast, who often have no other way of borrowing money to cover an unexpected expense. The benefit of these kinds of loans is they enable you to meet your immediate financial obligations. The risk, however, is you are taking on debt and incurring future obligations that require future income to fulfill.</p>
    <p>In this article, we’ll analyze the employment status of people who take on payday loans. Do they have jobs that will enable them to pay back the loans in a timely fashion or are they cornering themselves into an amount of debt without the income to ever repay the loans?</p>
    <p>At LendUp, we provide loans to people to cover unexpected expenses or when they need the money fast. Because of our years of underwriting loans and working with our customers, we know a lot about the financial background of our loan recipients.</p>
    <p>In this analysis, we’ll review the data on the employment characteristics of Americans who turn to payday loans. How many people who turn to payday loans have jobs? Are they employed full-time and where do they work?</p>
    <p>We found that the overwhelming majority of payday loan recipients (81.2%) have full time jobs. When you add the number of recipients that work part-time or are already retired, that accounts for well over 90% of recipients. Most commonly, payday loan recipients work in sales, office, and healthcare support. The most common employer of LendUp users who seek a payday loan is Walmart, followed by Kaiser, Target and Home Depot.</p>

    <br><br>

    <p>As part of our loan application process, we ask borrowers to state their employment status and current employer. For this analysis, we reviewed loans from 2017 to 2020 to see the most common employment status, industries and employers. The data is from states where LendUp currently operates (WI, MO, TX, LA, MS, TN, CA) plus additional states in which we previously made loans (IL, KS, LA, MN, OK, OR, WA, WY). When considering the most common employers of payday loan recipients, this data set will reflect the largest employers in our largest markets, like California.</p>
    <p>To begin, let’s look at the employment status of people who get payday loans via LendUp. What percentage of loan recipients have full time employment versus some alternative?</p>

    <img class="card-img-top bg-img" src="/imgs/loans/loans-02.png" alt="An image of carts">

    <p>81.2% of all payday loan recipients on LendUp have full-time employment, meaning that they should have income coming to pay back their debts. More commonly, people use payday loans to cover the timing mismatch of having an expense coming in before the paycheck arrives to cover it. If you add those that are part-time employed, retired, or self-employed to those with full-time employment, you account for 96.1% of payday loan recipients. Just 1.2% of payday loan recipients are classified as unemployed.</p>
    <p>As part of our application process, LendUp payday loan recipients report information on their industry of employment. The following chart breaks down loan recipients by industry:</p>

    <img class="card-img-top bg-img" src="/imgs/loans/loans-03.png" alt="An image of carts">

    <p>In this analysis, we’ve shown that the vast majority of payday loan recipients are employed full time. Despite earning a regular income, expenses come up that people do not have the bank account balances to cover. Many of these people work in school, hospitals, and the stores that have provided essential services throughout the pandemic. People get payday loans to cover urgent expenses, and for many Americans, these loans are the only source of funding available during times of emergency or when financial needs exceed available funds.</p>

    <%- include('partials/footer.ejs') %>
</body>
</html>